[user]
	email = berardgui@gmail.com
	name = Guillaume Berard
[alias]
	st = status
	co = checkout
	ci = commit
	pm = push origin master
	pn = push origin next
	br = branch
	cp = cherry-pick
	dh = diff HEAD~
	nb = checkout -tb
	ig = update-index --assume-unchanged
	ar = remote add
[rerere]
    enable = true

